---
layout: schedule
title: Schedule
---


<section class="text-center">
  <h1 class="text-red text-left">SCHEDULE</h1>
  <p>
  FABxLive 2020 is an online event that tackles the reality of a future happening now under global, economic, social and technological developments due to a Pandemic crisis known as a COVID-19 and how the Fab Lab Network as a global community
  </p>

  <div class="text-center">
    <a class="btn bg-yellow shadow mb-4" href="" target="_blank">Watch our Youtube tutorial</a>

    <p>Estimated time (via your browser): <strong id="current-time"></strong> </p>
    <p>Timezone: <strong id="current-timezone"></strong> </p>
  </div>

  {% assign events_before = site.events_before %}
  {% assign events_after = site.events_after %}
  {% assign all_days = site.events | group_by_exp:"site", "site.date | date: '%-d'" %}

  <ul class="nav fab-pills mb-3 justify-content-center" id="" role="tablist">

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-before-tab" data-toggle="pill" href="#pills-before" role="tab"> << </a>
    </li>

    {% for each_day in all_days %}
    <li class="nav-item" role="presentation">
      <a class="nav-link {% if forloop.first %} active{% endif %}" id="pills-{{each_day.name}}-tab" data-toggle="pill" href="#pills-{{each_day.name}}" role="tab">{{each_day.name}}</a>
    </li>
    {% endfor %}

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-after-tab" data-toggle="pill" href="#pills-after" role="tab"> >> </a>
    </li>
  </ul>

</section>


<section>
  <div class="tab-content" id="pills-date">

    <div class="tab-pane fade" id="pills-before" role="tabpanel">
      {% for item in events_before %}
        {%- include schedule_each_day.html -%}
      {% endfor %}
    </div>

    {% for each_day in all_days %}
      <div class="tab-pane fade {% if forloop.first == true %} show active {% endif %}" id="pills-{{each_day.name}}" role="tabpanel" aria-labelledby="pills-{{each_day.name}}-tab">
        {% for item in each_day.items %}
          {%- include schedule_each_day.html -%}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="tab-pane fade" id="pills-after" role="tabpanel">
      {% for item in events_after %}
        {%- include schedule_each_day.html -%}
      {% endfor %}
    </div>

  </div>

  <div class="p-lg-4">
    <p>
    You can check more details of the full schedule, links, tutors, registrations and much more,
    by registering yourself to our online platform here:
    </p>

    <a href="https://fabxmembers.fabevent.org/" target="_blank">https://fabxmembers.fabevent.org/</a>
  </div>

</section>

<script charset="utf-8">
  current_time = moment().unix();

  // Get all speaker nodes, and calculate countdown
  speakers = document.querySelectorAll('.speaker')
  speakers.forEach(calculateCountdown);

  function calculateCountdown(item, index) {
    unixnr = item.querySelector('.the-date-unix');
    if(unixnr?.innerText) {
      event_time = parseInt(unixnr.innerText)
      diffTime = event_time - current_time;
      item.querySelector('.countdown').innerText = moment.duration(diffTime * 1000, 'milliseconds').humanize();
      item.querySelector('.my-timezone').innerText = moment(event_time * 1000).format('HH:mm');
    }
  }

  // Set the current date at the top
  document.getElementById('current-time').innerText = moment()
  document.getElementById('current-timezone').innerText = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>

