---
layout: container
title: Team
---

<h1 class="text-red">Team</h1>

<section class="row mb-5 pb-5">

  {%- include bg-items-white.html -%}

  <!-- add new team members in _data/team.yml -->
  {% for item in site.data.team %}
  <article class="col-sm-6 col-lg-3 mb-4">
    <div class="card">
      <img class="card-img-top" src="/uploads/{{ item.picture }}" alt="{{item.title}}"/>
      <div class="card-body">
        <h5>{{item.name}}</h5>
        <p>
        {{ item.text }}
        </p>
      </div>
    </div>
  </article>
  {% endfor %}

</section>


<h2 class="text-red">Staff</h2>

<section class="row mb-5 pb-5">

  <!-- add new team members in _data/staff.yml -->
  {% for item in site.data.staff %}
  <article class="col-sm-6 col-lg-3 mb-4">
    <div class="card">
      <img class="card-img-top" src="/uploads/{{ item.picture }}" alt="{{item.title}}"/>
      <div class="card-body">
        <h6>{{item.name}}</h6>
        <p>
        {{ item.text }}
        </p>
      </div>
    </div>
  </article>
  {% endfor %}

</section>
