<div class="mb-5">
  <p>
  FABxLive takes a team of experts and coordinators to make it a smooth and thoughtful experience for everyone. 
  We made a point of making sure that this conference would be open to everyone and there would be no monetary barrier.  
  But the meeting does cost money to run. Please consider making a  contribution to help with the costs of  FABXLive.  
  We very much appreciate your kind donation, at any level. 
  </p>

  <div class="text-center">
    <a class="btn bg-red shadow" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=34FLFMHL4ACB6&source=url" target="_blank">MAKE A CONTRIBUTION</a>
  </div>
</div>
