<footer class="bg-cyan text-white py-5">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start">

      <div class="mb-4 mr-2">
        <h4 class="text-yellow footer-header">FABxLive</h4>
        <p class="m-0">
        Organized & Coordinated | The Fab Foundation
        </p>

        <p class="m-0">
        Designed | The Fab Foundation and Fab Lab Barcelona
        </p>

        <p class="m-0">
        Privacy policy | Press | Creative Commons Attribution-ShareAlike 4.0 International License
        </p>
      </div>

      {%- include social.html -%}
    </div>
  </div>
</footer>
