{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<nav class="navbar navbar-expand-sm navbar-dark sticky-top bg-cyan shadow">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ '/' | relative_url }}">
      <!--
      <img src="{{ 'assets/logo.png' | relative_url }}" alt="logo" width="60px"/>
      -->
      FABxLive
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between text-uppercase" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#participate">PARTICIPATE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">SCHEDULE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#speakers">SPEAKERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pitch">PITCH FAB20</a>
        </li>
      </ul>
      <a class="text-white btn bg-red shadow" href="https://fabxlive.mn.co/" target="_blank">REGISTER</a>
    </div>
  </div>
</nav>
