{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-cyan shadow">
  <div class="container-xl">
    <a class="navbar-brand" rel="author" href="{{ '/' | relative_url }}">
      <!--
      <img src="{{ 'assets/logo.png' | relative_url }}" alt="logo" width="60px"/>
      -->
      FABxLive
    </a>

    <a class="btn bg-red shadow d-inline d-md-none ml-auto mr-4" href="https://fabxmembers.fabevent.org/" target="_blank">REGISTER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between text-uppercase" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#participate">PARTICIPATE</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/#speakers">SPEAKERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule">SCHEDULE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#challenges">CHALLENGES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/fabfndn" target="_blank">LIVE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://drive.google.com/drive/folders/197hXb2D1c0hVIT5mMsDAY7e2dR906qQt?usp=sharing" target="_blank">Media Kit</a>
        </li>
      </ul>
      <a class="btn bg-red shadow d-none d-md-inline" href="https://fabxmembers.fabevent.org/" target="_blank">REGISTER</a>
    </div>
  </div>
</nav>
