<article class="row my-5">
  <div class="col-md-5 col-lg-2 mb-2 speaker d-flex flex-column">

    <div title="{{item.date}}" class="d-flex">
      <div class="circle circle-25 bg-blue mr-2"></div>
      <h5 class="mb-4 my-timezone">
      </h5>
    </div>

    <div class="flex-fill cyan-vertical-line pl-3">
      <p>
      {{item.date | date: "%H:%M %Z" }}
      </p>
      <span class="d-block">Countdown: <br> <strong class="countdown"></strong></span>
      <span class="the-date-unix d-none">{{item.date | date: "%s" }}</span>
    </div>
  </div>

  <div class="col-md-5 col-lg-4 mb-2">
    <img src="{{ item.picture | absolute_url }}" class="img-fluid" style="" alt=""/>
  </div>

  <div class="col-md-12 col-lg-6 mb-5">
    <h4 class="mt-4 text-uppercase">{{item.title}}</h4>
    {{item.content}}
  </div>
</article>
