<div class="social-box d-inline-block p-2 mt-2">
  <a title="Youtube" href="https://www.youtube.com/fabfndn" target="_blank"><img src="{{ '/uploads/youtube.png' | absolute_url }}" class="img-fluid social" alt="youtube"/></a>
  <a title="Twitter" href="https://twitter.com/FabFndn" target="_blank"><img src="{{ '/uploads/twitter.png' | absolute_url }}" class="img-fluid social" alt="twitter"/></a>
  <a title="Email" href="fabxlive@fabfoundation.org" target="_blank"><img src="{{ '/uploads/email.png' | absolute_url }}" class="img-fluid social" alt="email"/></a>
  <a title="Instagram" href="https://www.instagram.com/fabfndn/" target="_blank"><img src="{{ '/uploads/instagram.png' | absolute_url }}" class="img-fluid social" alt="instagram"/></a>
  <a title="Facebook" href="https://www.facebook.com/fabfndn/" target="_blank"><img src="{{ '/uploads/facebook.png' | absolute_url }}" class="img-fluid social" alt="facebook"/></a>
</div>
