---
# Only the main Sass file needs front matter (the dashes are enough)
---

$light-blue: #B4DDE2;
$cyan: #33B3C1;
$blue: #3A3996;

body {
  font-family: 'Karla';
}

.font-roboto {
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 0.0357em;
}

a {
  color: black;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992px) {
  h1 { font-size: 100px; }
  h2 { font-size: 50px; }
  h3 { font-size: 40px; }
  h4 { font-size: 24px; }
}

h1 {
  color: #f2f2f2;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn {
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 2px;
}

.bg-cyan {
  background: $cyan;
}

.bg-light-blue {
  background: $light-blue;
  color: black;
}

.bg-yellow {
  background: #F2E7AE;
}
.bg-yellow:hover {
  background: #d9cf9c;
}

.bg-red {
  background: #ED1654;
  color: white;
}

.bg-red:hover {
  background: #d5134b;
  color: white;
}

.bg-blue {
  background: $blue;
  color: white;
}

.text-yellow {
  color: #F2E7AE;
}

.navbar-dark{
  .nav-item{
    .nav-link {
      color: white;
      font-weight: bold;
    }
  }
}

.circle {
  border-radius: 50%;
}

.box {
  text-align: center;
  height: 260px;
  width: 260px;
}

.footer-header {
  font-family:'Montserrat';
  font-weight: 800;
}

.social-box {
}

.social {
  max-width: 45px;
}

.social:hover {
  -webkit-filter: invert(100%) !important;
}

.rotate-90 {
  position: absolute;
  width: 400px;
  top: 200px;
  left: -160px;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.nav {
  .active {
    border: 2px solid #fff;
    border-radius: 2px;
    color: white !important;
    background: $cyan !important;
  }
}

.tab-pane {
  padding: 40px;
  outline: 4px solid $blue;
  outline-offset: 8px;
}

.outline-blue {
  outline-offset: 8px;
  outline: 4px solid $blue;
}

.sidebar {
  min-width: 8vw;
  background-image: url('/uploads/sidebar.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
