---
# Only the main Sass file needs front matter (the dashes are enough)
---

$light-blue: #B4DDE2;
$cyan: #33B3C1;
$blue: #3A3996;
$red: #ED1654;
$yellow: #F2E7AE;
$grey: #f2f2f2;

body {
  font-family: 'Karla';
}

.font-roboto {
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 0.0357em;
}

a {
  color: black;
  font-weight: 900;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992px) {
  h1 { font-size: 100px; }
  h2 { font-size: 50px; }
  h3 { font-size: 40px; }
  h4 { font-size: 24px; }
}

h1 {
  color: $grey;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn {
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 2px;
}

.bg-cyan {
  background: $cyan;
}

.bg-light-blue {
  background: $light-blue;
  color: black;
}

.bg-yellow {
  background: $yellow;
}
.bg-yellow:hover {
  background: #d9cf9c;
}

.bg-red {
  background: $red;
  color: white;
}

.bg-red:hover {
  background: #d5134b;
  color: white;
}

.bg-blue {
  background: $blue;
  color: white;
}

.bg-grey {
  background: $grey;
}

.text-yellow {
  color: $yellow;
}

.text-red {
  color: $red;
}

.navbar-dark{
  .nav-item{
    .nav-link {
      color: white;
      font-weight: bold;
    }
  }
}

// Background graphics
.circle {
  border-radius: 50%;
}

.circle-sm {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.box {
  text-align: center;
  height: 260px;
  width: 260px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.box-half {
  height: 120px;
  width: 60px;
}

.box-sm {
  height: 130px;
  width: 130px;
}

// Footer
.footer-header {
  font-family:'Montserrat';
  font-weight: 800;
}

.social {
  max-width: 45px;
}

.social:hover {
  -webkit-filter: invert(100%) !important;
}

.nav-participate {
  .active {
    border: 2px solid #fff;
    border-radius: 2px;
    color: white !important;
    background: $cyan !important;
  }
}

.fab-pane {
  padding: 40px;
  outline: 4px solid $blue;
  outline-offset: 8px;
}

.fab-pills {
  .nav-item {
    font-size: 18px;
    .nav-link.active {
      color: $red;
      border-bottom: 2px solid $yellow;
    }
  }
}

.outline-blue {
  outline-offset: 8px;
  outline: 4px solid $blue;
}

.sidebar {
  min-width: 8vw;
  background-image: url('/uploads/sidebar.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

// Smaller then 768
@media (max-width: 768px) {
  .circle-sm {
    height: 80px;
    width: 80px;
  }

  .box-half {
    width: 25px;
  }

  .box-sm {
    height: 100px;
    width: 100px;
  }
}
